svg path {
stroke:inherit;
stroke-width:inherit;
fill:inherit;
}
.pad {

	margin: 5px;
	
}

.padimg {
	margin-left: 38%;

}
.padimg2 {
	margin-left: 80%;
	margin-top: 45%;
}


.paddiv {
	margin-right: 20%;
	

}
.paddiv2 {
	margin-top: 25%;
	

}

.wicon{
transition: all .5s ease;
}

.wicon:hover {
 fill:green;
}
.black {
	color:#000;
}
.orange {
	color:orange;
}

.wrapper {
	height: 30rem;
	
	background-image: url(img/2.jpg);
	background-position:center ;
	
	
}



.wrapper h2 {
    color: white;
    position: relative;
    text-align: center;
    font-size: 60px;
    top: 10rem;
    z-index: 2;
}





.grey {

	background: #edeef0;
}

.font_8 {
font: normal normal normal 18px/1.75em montserrat,sans-serif;


}

.font_6 h6 {

font: normal normal normal 34px/1.35em oswald,sans-serif;
}

.font_5 {
	font: normal normal normal 45px/1.34em oswald,sans-serif;
}

.font_4 {
font: normal normal normal 55px/1.25em oswald,sans-serif;

}

.color_orange {

	color: #FF9C32;
}
.color_grey {
	color: gray;
}

@media screen and (max-width: 992px)
{
.wrapper h2 {
    font-size: 45px;}
.font_h4 h4 {
	font-size: 40px;}


.font_5 h5 {
	font-size: 35px;}
.font_6 h6 {
	font-size: 25px;}
}

@media screen and (max-width: 528px)
{
.nav-item button {
   position: relative;
	left: 5rem;}
.font_h4 h4 {
	font-size: 25px;}

.font_4-1 {
	font-size: 15px;}

.size_sm {
	font-size: 10px;}

.font_8 {
	font-size: 12px;}
.font_6 h6 {
	font-size: 18px;}


}

@media screen and (max-width: 429px)
{
.wrapper h2 {
    font-size: 200%;}
}

.center_pos {
	position: relative;
	left: 20px;
}

@media (min-width: 500px){
.middle-txt {
	position: relative;
	top: 10rem;
}
}