svg path {
stroke:inherit;
stroke-width:inherit;
fill:inherit;
}
.pad {

	margin: 5px;
	
}

.padimg {
	margin-left: 38%;

}
.padimg2 {
	margin-left: 80%;
	margin-top: 45%;
}


.paddiv {
	margin-right: 20%;
	

}
.paddiv2 {
	margin-top: 25%;
	

}

.wicon{
transition: all .5s ease;
}

.wicon:hover {
 fill:green;
}
.black {
	color:#000;
}
.orange {
	color:orange;
}

.wrapper {
	height: 30rem;
	
	background-image: url(img/2.jpg);
	background-position:center ;
	
	
}



.wrapper h2 {
    position: relative;
    color: white;
    text-align: center;
    top: 10rem;
    font-size: 60px;
    z-index: 2;
}

.grey {

	background: gray;
}

.font_8 {
font: normal normal normal 18px/1.75em montserrat,sans-serif;


}

.font_6 {

font: normal normal normal 38px/1.35em oswald,sans-serif;
}

.font_5 {
	font: normal normal normal 50px/1.34em oswald,sans-serif;
}

.font_4 {
font: normal normal normal 65px/1.25em oswald,sans-serif;

}

.color_orange {

	color: #FF9C32;
}
.color_grey {
	color: gray;
}